
:root {
	--heigth: 100 svh;
	--width: 100 svw;
	--bg:#212529;
	/* --bg: hsl(200 50% 5%); */
	--fg: hsl(200 10% 98%);
	--bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #2E2E2E;
    --bs-secondary: #F2B56B;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #FFF;
    --bs-dark: #2E2E2E;
    --bs-primary-rgb: 46, 46, 46;
    --bs-secondary-rgb: 242, 181, 107;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 255, 255, 255;
    --bs-dark-rgb: 46, 46, 46;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Poppins, sans-serif;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
}

.titulos h1{
    color: var(--bs-gray-400);
    margin-bottom: 1em;
    font-family: var(--bs-font-sans-serif);
}

.titulos p{
    color: var(--bs-gray-400);
    margin-bottom: 1.5em;
}



.distinto{

    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
}
    
.sindecorar{
   
    color: rgb(1, 14, 14);

    
}

.main-localizacion{
    box-sizing: border-box;
    max-height: 100%;
    display: grid;
    grid-template-columns: 20% 50% 1%;
    grid-template-rows: 100% 100%;
    justify-content: space-between;
  
}

.iframe-localizacion{
width: 100%;
height: 100%;


}

.section-localizacion{
    width: 100%;
    box-sizing: border-box;
    
}

.section-localizacion div{ 
    margin-left: 2em;
}

.section-localizacion ul{
    list-style: none;
}


.sindecorar:hover{
    background-color: blueviolet;
    text-decoration: dotted;
}



.caja3{
    height: 150px;
    
} 


 /* .iframe-localizacion{
   
 } */



.letrachica{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


@media (max-width:700px){

    .main-localizacion{

        display: block;

      
    }
 

}
