
:root {
	--heigth: 100 svh;
	--width: 100 svw;
	--bg:#212529;
	/* --bg: hsl(200 50% 5%); */
	--fg: hsl(200 10% 98%);
	--bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #2E2E2E;
    --bs-secondary: #F2B56B;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #FFF;
    --bs-dark: #2E2E2E;
    --bs-primary-rgb: 46, 46, 46;
    --bs-secondary-rgb: 242, 181, 107;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 255, 255, 255;
    --bs-dark-rgb: 46, 46, 46;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Poppins, sans-serif;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: var(--bg);
	scroll-behavior: smooth;
	width: var(--width);
	height: var(--heigth);
}


body {
	font-family: Arial;
	font-size: 2.25 rem;
	/* height: var(--heigth); */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 10px solid violet; */
	/* height: 50%; */
	height: 100%;
	padding-bottom: 0;
}


/*boton del menu responsive */

.menu-btn{
	position: absolute;
	cursor: pointer;
	top: .5em;
	right: 1em;
	z-index: 2;
	display:none;
	font-size: 1.5em;
}

/*contiene el boton responsive */

.contenedor{
	margin: 0;
	height: calc(2/10*100%);
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 5fr;
	align-items: end;


}

header{
	height: max-content;
}


/*creo el logo en pantalla */

.logo{
	background-image: url(../media/img/logo_cerveza.jpg);
	width: 8em;
	height: 8em;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: hard-light;
	padding: 0;
	margin: 0;
	z-index: 1;
	border: 1px solid; 
     box-shadow: rgb(150,150,150) 5px 5px 20px; 
}

nav {
	
	height: calc(1/3*100%);
	
	box-sizing: border-box;
	display: flex;
	gap: 5 rem;
	justify-content: center;
	align-content: center;
	align-items: center;
	flex-wrap: wrap;


}

nav>div {
	border-left: 2px solid var(--fg);

	border-bottom-left-radius: 2em;
	height: 2.5em;
	max-width: calc(1/6*100%);
	width: 7em;
	/* justify-content: center; */
	aspect-ratio: 16/9;
	align-content: center;
	transition: all 1s ease-in-out;
}

nav>div:nth-chd(2) {
	flex-grow: 2;
}

nav>div>h1 {
	color: var(--bg);
	/* align-content: center; */
	text-align: center;  
	
	
	font-size: 1em;
	/* width: max-content; */
	
}


nav>div:not(:hover)>h1 {
	color: var(--fg);
}

nav>div:hover {
	border-radius: 2em;
	flex-grow: 4;
	background-color: var(--fg);

}


nav>div:hover>h1>a{
color:var(--bg);

}



/*hace la linea de separacion menu main */
hr{
	border: .1em solid var(--bs-gray-300);
	border-radius: 5%;
	margin: 0 2em;
}

/*configuracion del slice */

.sliderII {
	width: 100%;
	height: calc(6/10*100%);
	display: flex;
	/* height: calc(1/3 *100%); */
	margin: 0;
	/* border: 5px solid red; */
	overflow: hidden;
	box-sizing: border-box;


}

.section-index{
	width: calc(2/3*100%);
	background-color: #212529;
	box-shadow: rgb(150,150,150) 5px 5px 20px; 
}

aside{
	/* padding-left: 1em; */
	margin: 0  1em auto;
	
}




.slider {
	width: 96%;

	margin: auto;
	overflow: hidden;

}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;

	animation: cambio 20s infinite alternate-reverse;
	animation-timing-function: ease-in-out;
	
}

.slider li {
	width:100%;
	list-style: none;
	box-sizing: border-box;
	/* border: 10px solid var(--bs-blue); */
}

.slider img {
	width: 100%;
	
	
	/* height: 50%; */
} 

.tama単o{
	width: 20em;
	height: 30em;
	
}

.formulario{
	margin-left: 2em;
}

.titulo{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.2em;
	color: var(--bs-gray-300);
	padding: 0;
	padding-top: 1em;
	margin-left: 0;
}

p.tituloP{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: .8em;
	color: var(--bs-gray-300);
	padding: 0;
	margin-left: 0;
}

.titulos h1{
    color: var(--bs-gray-400);
    margin-bottom: 1em;
    font-family: var(--bs-font-sans-serif);
}

.titulos p{
    color: var(--bs-gray-400);
    margin-bottom: 1.5em;
}


h2.margen,
p.margen2{
	margin: 0;
}

.mensaje{
	padding-left: 0;
	margin-left: 0;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
	padding-left: 0;
	width: 15em;
    padding-block-start: 0.35em;
    padding-inline-start: 0;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 0;
    border-style: none;
    border-color: rgb(192, 192, 192);
    border-image: initial;
}


.br{
	border: 0;
	padding: .2em;
}

.input{
	width: 21em;
	 height: 1.5em;
	 padding: .2em;
	 color: var(--bs-gray-400);
}

.textarea-index{
	color: var(--bs-gray-400);
}


.contengo_check{
	padding: 0;
	margin: 0;
	width: 17em;
	margin-bottom: 1em;
	text-align: justify;

}

.acepto{
	font-size: .8em;
	text-align: justify;
	color: #adb5bd;
	
}


legend.titulo{
	font-size: 1em;
}

.rojo:hover{
	background-color:rgb(192, 192, 192);
	scale: 1.2;
}

footer{
	height: calc(2/10*100%);
	background: var(--bs-gradient);
	/* background-color: #495057; */
	/* border: 4px solid green; */
	box-sizing: border-box;
}

.center{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}


footer p{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 1em;
	font-style: oblique;
	
}


.redsoc{
    /* background-color: var(--bg); */
    text-decoration: line-through;
    font-family: var(--bs-font-sans-serif);
    font-size: .9em;
	box-sizing: border-box;
	color: #e9ecef;
	padding: .5em;
}

a{
	text-decoration: none;
	color:var(--fg);
	
	}


.main-acercade{
		padding: 10px;
		width: 100%;
		margin: auto;
	}



	.section-banner{
		margin: 0;
		padding: 0;
		width: 100%;
		padding-bottom: 5px;
	}
	
	.banner{
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.tama単o-banner
	{
		width: 100%;
		height: 15rem;
		
	}




	.div-acercade{
		width: 100%;
	}
	
	
	.ul-acercade{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	
		list-style: none;
			
	}
	
	.li-acercade{
		justify-self: center;
		border: 2px solid var(--bs-gray-500);
		justify-content: center;
		align-content: center;
		align-self: center;
		padding-left: 1rem;
		padding-top: 5px;
	}
	

	.tama単o_acercade
	{
		width: 90%;
		height: 18rem;
		
	}



	.div-contacto{
		width: 80%;
		display: flex;
		justify-content: center;
	}

	.div-formulario-contacto{
		width: 80%;
	}

	.div-mensaje h1{
		color: var(--bs-gray-300);
		font-family: var(--bs-font-sans-serif);
	}


	.div-input-contacto{
		width: 100%;
	
	}
	
	
	
	.input-contacto{
		width: 100%;
		height: 1.5em;
		padding: .2em;
		color: var(--bs-gray-400)

		
	}

	.textarea-contacto{
		width: 100%;
		color: var(--bs-gray-400);
	}
	
	.contengo_check_contacto{
	width: 100%;
	text-align: justify;
	}
	
	.acepto_contacto{
		font-family: var(--bs-font-monospace);
		color: var(--bs-gray-500);
		font-size: .8em;
	}
	
	.btn-faq1{
	
		cursor: pointer;
		top: .5em;
		right: 1em;
		z-index: 2;
		
		font-size: 1.5em;
	}

	.h1-faq{
		position: relative;
		padding-top: 10px;
		font-size: 1.5rem;
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		color: #adb5bd;
		border: 5px solid var(--bs-gray-600);
		z-index: 1;
		box-shadow: var(--bs-gray-600) 2px 2px 10px; 
		margin: 5rem solid;
		
	
		
	}
	.div-faq1{
		padding-top: 30px;
		border-bottom: 10px solid var(--bs-blue);
		border-left: 10px solid var(--bs-blue);
		border-right: 10px solid var(--bs-blue);
		/* border: 10px solid var(--bs-blue); */
		z-index: -1;
		transform: translateY(-20px);
		/* visibility: hidden; */
		
		
	}
	

	
	.btn-faq2{
		
		cursor: pointer;
		top: .5em;
		right: 1em;
		z-index: 2;
		
		font-size: 1.5em;
	}



	.div-faq2{
		padding-top: 30px;
		/* border-bottom: 10px solid var(--bs-blue);
		border-left: 10px solid var(--bs-blue);
		border-right: 10px solid var(--bs-blue); */
		background: var(--bs-gray-600);
		opacity: .3;
		/* border: 10px solid var(--bs-blue); */
		z-index: -1;
		transform: translateY(-20px);
		/* visibility: hidden; */
		
		
	}
	
	
	.div-faq2 p{
	color: var(--bs-gray-100);
	font-size: 1em;
	font-family: 'Courier New', Courier, monospace;
	text-align: justify;
	padding: 20px;
	
	
	
	}
	


	.btn-faq3{
		
		cursor: pointer;
		top: .5em;
		right: 1em;
		z-index: 2;
		
		font-size: 1.5em;
	}


	.div-faq3{
		padding-top: 30px;
		border-bottom: 10px solid var(--bs-blue);
		border-left: 10px solid var(--bs-blue);
		border-right: 10px solid var(--bs-blue);
		/* border: 10px solid var(--bs-blue); */
		z-index: -1;
		transform: translateY(-20px);
		/* visibility: hidden; */
		
		
	}


	.main-localizacion{
		box-sizing: border-box;
		max-height: 100%;
		display: grid;
		grid-template-columns: 20% 50% 1%;
		grid-template-rows: 100% 100%;
		justify-content: space-between;
	  
	}
	
	.section-localizacion{
		width: 100%;
		box-sizing: border-box;
		
	}
	
	.section-localizacion div{ 
		margin-left: 2em;
	}
	
	.section-localizacion ul{
		list-style: none;
	}
	.iframe-localizacion{
		width: 100%;
		height: 100%;
		
		
		}


		.tama単o-icono{
			width: 1em;
			height: 1em;
			
		}


/*  estilo para formulario modal del index */
body {
    overflow: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;

    z-index: 2;
}

.modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

.modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.button-container {
    text-align: center; /* Centra los botones horizontalmente en el contenedor */
}

.btn-modal {
    display: inline-block;
    margin: 0 10px; /* Agrega margen izquierdo y derecho para separar los botones */

	display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}



.btn-open {
    position: absolute;
    bottom: 150px;
}

.btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 999; /* Coloca el fondo por encima de todo */
 
    align-items: center;
    justify-content: center;
}


/*******************************************************************************************************************************************/
/*******************************************************************************************************************************************/
/*******************************************************************************************************************************************/

/*ordenando de aca para abajo */


/* .letrachica{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */

/* .distinto{

    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
}
.sindecorar{
   
    color: rgb(1, 14, 14);

    
}
.sindecorar:hover{
    background-color: blueviolet;
    text-decoration: dotted;
} */


/* .standard{
	text-decoration: underline;
	color: #ced4da;
} */




/* .cabecera{
	
	
	width: var(--width);
	background-color: var(--bg);
	margin: 0;
	padding: 0;
	color: whitesmoke;
	font-size: 3em;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: 150;
	font-style: oblique;
	text-align: center;
} */



/*******************************************************************************************************************************************/
/*******************************************************************************************************************************************/
/*******************************************************************************************************************************************/



/*     breakpoint */


@media (max-width:700px){
	.menu-btn{
		display: inline;
	}

    .main-localizacion{

        display: block;

      
    }
	.sliderII {

		display:block;
	}
	main>section{
		width: 100%;
	}
	nav{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #212529;
		height: 100%;
		padding: 2em;
		opacity: .9;
		transition: .5s all ease-out;
		transform: translateX(-400px);
	}

	nav.show{
		transform: translateX(-20px);
		
	}
	nav.show div{
			
		max-width: calc(100%);
		
	}

	fieldset {
	
		width: 100%;
		margin-inline-start: 0;
		margin-inline-end: 2px;
		padding-left: 0;
		width: 100%;
		padding-block-start: 0.35em;
		padding-inline-end: 0;
		padding-block-end: 0;

	}
	.input{
		width: 100%;
		
	}
	
	textarea{
		width: 100%;
	}

	.sliderII{
		margin-bottom: 2em;
	}

	.contengo_check{
		width: 100%;
	
	}

	.ul-acercade{
		
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width:480px){
	.ul-acercade{
		
		grid-template-columns: 1fr;
	}
}

@keyframes cambio {

	0% {
		margin-left: 0;
	}

	20% {
		margin-left: 0;
	}

	25% {
		margin-left: -100%;
	}

	45% {
		margin-left: -100%;
	}

	50% {
		margin-left: -200%;
	}

	70% {
		margin-left: -200%;
	}

	75% {
		margin-left: -300%;
	}

	100% {
		margin-left: -300%;
	}


}

